<%= render RailsComponents::Headings::WithAction.new(
	heading: "AI Models",
	action_label: "Create AI Model",
	onclick: "RailsComponents.Nav.Right.Sidebar.open()"
) %>

<%= render RailsComponents::Nav::Right::Sidebar.new(
	component_class: RailsComponents::Forms::Sidebar,
	component_args: { crud_model: Headless::Rails::AiModel.new }
) %>

<div class="<%= RailsComponents.config.container_styles %>">
	<ul role="list" class="grid grid-cols-1 gap-6 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
		<% crud_model.active.each do |ai| %>
			<li class="col-span-1 flex flex-col divide-y divide-gray-200 rounded-lg bg-white text-center shadow">
				<div class="flex flex-1 flex-col p-8">
					<img class="mx-auto h-20 w-20 rounded-full" src="https://openai-labs-public-images-prod.azureedge.net/user-NeYYWVE2OgFIpXIHa5XNGhpW/generations/generation-bHJdW4TVMT70liHsuVrkWbwQ/image.webp" alt="">
					<h3 class="mt-6 text-sm font-medium text-gray-900">
						<%= ai.name %>
					</h3>
					<dl class="mt-1 flex flex-grow flex-col justify-between">
						<dt class="sr-only">Description</dt>
						<dd class="text-sm text-gray-500">
							<%= ai.description %>
						</dd>
					</dl>
				</div>
				<div>
					<div class="-mt-px flex divide-x divide-gray-200">
						<div class="flex w-0 flex-1">
							<a href="<%= ai_model_path(ai) %>" class="relative -mr-px inline-flex w-0 flex-1 items-center justify-center gap-x-3 rounded-bl-lg border border-transparent py-4 text-sm font-semibold text-gray-900">
								<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-5 w-5 text-gray-400">
									<path stroke-linecap="round" stroke-linejoin="round" d="M10.5 6h9.75M10.5 6a1.5 1.5 0 11-3 0m3 0a1.5 1.5 0 10-3 0M3.75 6H7.5m3 12h9.75m-9.75 0a1.5 1.5 0 01-3 0m3 0a1.5 1.5 0 00-3 0m-3.75 0H7.5m9-6h3.75m-3.75 0a1.5 1.5 0 01-3 0m3 0a1.5 1.5 0 00-3 0m-9.75 0h9.75" />
								</svg>
								Settings
							</a>
						</div>
						<div class="-ml-px flex w-0 flex-1">
							<a href="<%= playground_ai_model_path(ai) %>" class="relative inline-flex w-0 flex-1 items-center justify-center gap-x-3 rounded-br-lg border border-transparent py-4 text-sm font-semibold text-gray-900">
								<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-5 w-5 text-gray-400">
									<path stroke-linecap="round" stroke-linejoin="round" d="M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
									<path stroke-linecap="round" stroke-linejoin="round" d="M15.91 11.672a.375.375 0 010 .656l-5.603 3.113a.375.375 0 01-.557-.328V8.887c0-.286.307-.466.557-.327l5.603 3.112z" />
								</svg>
								Playground
							</a>
						</div>
					</div>
				</div>
			</li>
		<% end %>
		<!-- More people... -->
	</ul>
</div>

<%#= render RailsComponents::Forms::Create.new( render_model: Headless::Rails::AiModel.new ) %>
